{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "id-length": 0
  },
  "extends": [
    "airbnb/base"
  ],
  "plugins": [
    "react"
  ]
}
